body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f2f2f2 url('doodles.png');
    color: #465462;
}

@media (min-width: 992px) {
    .container {
        max-width: 520px !important;
    }
}

/* Set padding to keep content from hitting the edges */

.body-content footer {
    text-align: center;
}

.main-form {
    background-color: white;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    padding: 0 65px;
    padding: 50px 75px 85px;
}

.main-form h2 {
   margin-bottom: 25px;
}

#timesheet-to-toggl,
#toggl-to-timesheet {
    padding-left: 30px;    
}

    #timesheet-to-toggl:before,
    #toggl-to-timesheet:before {
        content: ' ';
        left: 10px;
        top: 8px;
        height: 50%;
        width: 50%;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat; 
    }

    
    #timesheet-to-toggl:before {
        background-image: url('toggle.png');
    }

    #toggl-to-timesheet:before {
        background-image: url('pwa.png');
    }

.status {
    font-size: 70px;
    text-align: center;
}

    .status #small {
        font-size: 20px;
    }

h1#heading {
    margin-bottom: 50px;
    font-weight: bold
}

hr {
    margin-bottom: 50px
}

.form-group label a {
    color: #2a6496
}

#demo {
    margin-top: 35px;
}

.modal .modal-dialog {
    margin-top: 10% !important;
}

.modal {
    overflow-y: hidden;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0 !important;
}


.preloader5 {
    display:inline-block;
    font-size:0px;
    padding:0px;
}
    .preloader5 span {
        vertical-align: middle;
        border-radius: 100%;
        background: #333333;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 3px 2px;
        -webkit-animation: preloader5 0.8s linear infinite alternate;
        animation: preloader5 0.8s linear infinite alternate;
    }
.preloader5 span:nth-child(1) {
    -webkit-animation-delay:-0.8;
    animation-delay:-0.8s;
}
.preloader5 span:nth-child(2) {
    -webkit-animation-delay:-0.53333s;
    animation-delay:-0.53333s;
}
.preloader5 span:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
}

@keyframes preloader5 {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
}
@-webkit-keyframes preloader5 {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
}

#help {
    margin-top: 45px;
}

.modal-content {
    border-radius: 0;
    border: none;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.modal-backdrop.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.modal-footer {
    margin-top: 0;
}